/* This file contains CSS that adds visual aids to the examples in this lab.
These rule-sets are not part of the lab, but feel free to modify them */

div {
	background: lightgreen;
}

section {
	background: lightyellow;
}
main {
	background: pink;
}

h2 {
	background: lightblue;
}
